<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Workout Tracker" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Workout Tracker">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100 min-h-screen text-gray-900">
    
    <!-- nav bar -->
    <nav class="bg-blue-800 text-white shadow-md">
      <div class="max-w-4xl mx-auto px-4 py-3 flex justify-between items-center">
        <!-- Logo / Home Link -->
        <%= link_to " Malik's Workout Tracker", root_path, class: "text-xl font-bold tracking-wider" %>
        
        <!-- Menu Links -->
        <div class="flex gap-6 font-semibold">
          <%= link_to "My Workouts", root_path, class: "hover:text-blue-200" %>
          <%= link_to "Exercises", exercises_path, class: "hover:text-blue-200" %>
          <!-- We will link Workout Types here once you build it -->
          <%= link_to "Workout Types", workout_types_path, class: "hover:text-blue-200" %> 
          <%= link_to "Progress", progress_path, class: "text-gray-600 hover:text-blue-600 font-semibold" %>
        </div>
      </div>
    </nav>

    <!-- main area-->
    <main class="max-w-4xl mx-auto px-4 pb-20">
      <%= yield %>
    </main>

  </body>
</html>
